@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.informationOfMe {
  color: #ffb6b9;
  text-shadow: 2px 2px 2px #e16262;
  font-size: 60px;
  text-align: center;
}
html {
  background-color: #fffdef;
}
body {height:100%; margin:0; padding:0;}
img {
  margin-top: 30px;
  margin-bottom: 28px;
  color: clear;
  cursor: pointer;
}

.nameBlog {
  justify-content: center;

}
.introduction {
  text-align: center;
  background-color: #b4f1f1;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.container {
  position: relative;
  margin:0px;
  border:0px;
  background-color: #b4f1f1;
}
#did {
  position: absolute;
  bottom: -5px;
  right: 16px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#like {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#want {
  position: absolute;
  bottom: -5px;
  left: -20px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 3px black;
}
img:hover {
  box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.description {
  text-align: center;
}
#didDetail, #likeDetail, #wantDetail {
  display: none;
  justify-content: center;
  background-color: #ecfeff;
  margin: 50px 100px 0px 100px;
}
h3 {
  font-family: 'Gowun Batang', serif;
  font-style: bold;
  padding: 10px 0px 10px 0px;
  text-align:center;
}

.blog {
  position: relative;
}

a {
  right: 20px;
  position: absolute;
  bottom: 16px;
  font-family: 'Gowun Batang', serif;
  font-style: bold;
  font-size: 18px;
  text-decoration: none;
  color: #3b6ac0;

}
a:hover {
  cursor:pointer;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #3b6ac0;
}
/* 여기서부터 책 내용 복붙 */
* {
  box-sizing:border-box;
}
#wrapper {
  width:600px;
  margin:0 auto;
}
form {
  background-color:#b4f1f1;
  padding:20px 30px;
  color: white;
  text-align:center;
}
input {
  border:none;
  width:440px;
  padding:10px;
  float:left;
  font-size:16px;
}
.addBtn {
  padding:10px;
  width:50px;
  border:none;
  border-radius: 10%;
  background-color:#fff;
  box-shadow:1px 2px 4px #167dae;
  color:#555;
  text-align:center;
  font-size:14px;
  cursor:pointer;
  transition:0.3;
}
form::after {
  content:"";
  display:table;
  clear:both;
}
form::after {
  content:"";
  display:table;
  clear:both;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
ul li{
  cursor:pointer;
  position:relative;
  padding:12px 8px 12px 40px;
  background: #eee;
  font-family: 'Gowun Batang', serif;
  font-size:18px;
  transition: 0.2s;

}
ul li:nth-child(odd) {
  background-color:#ecfeff;
  border: 10px;
}
ul li:hover {
  background-color:#ddd;
}
.close {
  position:absolute;
  right:0;
  top:0;
  padding:12px 16px;
  border:none;
  background:rgba(255,255,255,0)
}
.close:hover {
  background-color:#007acc;
  color:white;
}
